/* You can add global styles to this file, and also import other style files */
:root {
  --new-blue: rgb(7, 71, 166);
  --new-white: rgb(222, 235, 255);
  --darkest-blue : rgba(9, 30, 66, 0.25);
  --active-blue: #000080;
}

.hover-bg-darkest-blue:hover {
  background-color: var(--darkest-blue);
}

.active-bg-dark-blue:active {
  background-color: var(--active-blue);
}

.bg-new-blue {
  background-color: var(--new-blue);
}

.bg-new-white {
  background-color: var(--new-white);
}

.bg-washed-white {
  background-color: rgb(255,250,250);
}

.new-white {
 color: var(--new-white);
}

.w-16 {
  width: 16%;
}

.w-84 {
  width: 84%;
}

.h-4 {
  height: 4%;
}

.h-5 {
  height: 5%;
}

.h-90 { height: 90%; }

.h-99 { height: 99%; }

.h-95 { height: 95%; }

.h-80 { height: 80%; }


.new-blue {
  color: var(--new-blue);
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.fixed-button {
  position: fixed;
  bottom: 5%;
  right: 3%;
  height: 40px;
  width: 40px;
}

.pt04 { padding-top: .4rem }

.pt062 { padding-top: .62rem }

.fixed-footer {
  position: fixed;
  bottom: 0px;
}
