<div class="center flex-column pl3 h-100">
  <h1 class="tl f3 lh-copy fw4 fs-normal">Spongebot</h1>
  <div class="flex flex-column center h-100">
    <div class="pointer w-100 hover-bg-darkest-blue br2 h-5 pl2 mw7 flex v-mid mb2 active-bg-dark-blue" routerLink="./commands">
      <div class="material-icons w-20 pt04">
        list
      </div>
      <div class="w-80 pt062">
        Commands
      </div>
    </div>
    <div class="pointer w-100 hover-bg-darkest-blue br2 h-5 pl2 mw7 flex v-mid mb2 active-bg-dark-blue" routerLink="./accounts" *ngIf="isAdmin()">
      <div class="material-icons w-20 pt04">
        person
      </div>
      <div class="w-80 pt062">
        Accounts
      </div>
    </div>
    <div class="pointer w-100 hover-bg-darkest-blue br2 h-5 pl2 mw7 flex v-mid mb2 active-bg-dark-blue" routerLink="./accounts/update">
      <div class="material-icons w-20 pt04">
        settings
      </div>
      <div class="w-80 pt062">
        Set new password
      </div>
    </div>
    <div class="pointer w-100 hover-bg-darkest-blue br2 h-5 pl2 mw7 flex v-mid mb2 active-bg-dark-blue" routerLink="/login" (click)="logout()">
      <div class="material-icons w-20 pt04">
        exit_to_app
      </div>
      <div class="w-80 pt062">
        Logout
      </div>
    </div>
  </div>
</div>
