<div class="flex-wrap">
  <h2 class="tc w-100">All Commands</h2>
  <table class="f6 w-100 mw8 center" cellspacing="0">
    <thead>
    <tr>
      <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">ID</th>
      <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Regex</th>
      <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Response</th>
      <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Script</th>
      <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Description</th>
      <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Delete</th>
      <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Edit</th>
    </tr>
    </thead>
    <tbody class="lh-copy">
      <tr *ngFor="let cmd of commands">
        <td class="pv3 pr3 bb b--black-20">{{cmd.id}}</td>
        <td class="pv3 pr3 bb b--black-20">
          <div  class="pa1 bg-light-gray br2">
            <code>{{cmd.regex}}</code>
          </div>
        </td>
        <td class="pv3 pr3 bb b--black-20">
          <div  class="pa1 bg-light-gray br2">
            <code>{{cmd.response}}</code>
          </div>
        </td>
        <td class="pv3 pr3 bb b--black-20"><input type="checkbox" [(ngModel)]="cmd.script" disabled></td>
        <td class="pv3 pr3 bb b--black-20">{{cmd.description}}</td>
        <td class="pv3 pr3 bb b--black-20"><i class="material-icons pointer gray hover-red" (click)="onDelete(cmd.id)">
          delete
        </i></td>
        <td class="pv3 pr3 bb b--black-20" [routerLink]="['/dashboard/commands/', cmd.id]"><i class="material-icons pointer new-blue">
          edit
        </i></td>
      </tr>
    </tbody>
  </table>
  <div class="fixed-button bg-new-blue br-100 pa2 color white shadow-5 pointer" routerLink="/dashboard/commands/create">
    <i class="material-icons">
      add
    </i>
  </div>
</div>
