<form class="pure-form pure-form-aligned" [formGroup]="accountForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Update your password</legend>
    <div class="pure-control-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Password" name="password" formControlName="password" required>
      <span class="pure-form-message-inline">This is a required field.</span>
    </div>

    <div class="pure-control-group">
      <label for="password-re">Password</label>
      <input type="password" id="password-re" placeholder="Retype Password" name="passwordRe" formControlName="passwordRe" required>
      <span class="pure-form-message-inline">This is a required field.</span>
    </div>

    <div class="pure-control-group">
      <input type="submit" class="pure-button bg-new-blue new-white" value="Submit" (submit)="onSubmit()"
             [disabled]="!accountForm.valid&&!passwordMatch">
    </div>

    <span class="red" *ngIf="!passwordMatch">
      Password does not match
    </span>
  </fieldset>
</form>
